// Adobe PDF Extraction SDK
// Use the following link to generate your credentials:
// https://acrobatservices.adobe.com/dc-integration-creation-app-cdn/main.html?api=pdf-extract-api
PDF_SERVICES_CLIENT_ID=
PDF_SERVICES_CLIENT_SECRET=

// Get open api key from https://platform.openai.com/account/api-keys
OPEN_API_KEY=